#oCanvas{
	margin: auto;
	text-align: center;
	position: static;
}

body{
	background-color: black;
}

#teste{
	text-align: center;
	color: white
}

#controles1{
	float: left;
}

#controles2{
	float: right;
}